<div name="user-page">
<h1>
{{profile.login}}
</h1>
<h3>{{category.title}}</h3>
<h3>{{themes.title}}</h3>
<ul>
  <li>email:{{profile.email}}</li>
  <li>social:{{profile.social}}</li>
  <li>age:{{profile.age}}</li>
  <li>drink:{{profile.drink}}</li>
  <li>smoke:{{profile.smoke}}</li>
</ul>
</div>

